{% extends "main/base.html" %}
{% load i18n%}
{% block title %}{% trans "Головна" %}{% endblock %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col">
        {% blocktranslate %}
        Команда інформаційної безпеки турбується про захищеність усіх систем Групи ДТЕК.<br>
        <br>
        У сучасному світі інформація має дуже високу цінність. Від неї може залежати багато речей:
        репутація компанії, успішність проєкту, перспектива розвитку й навіть безпека.<br>
        <br>
        Кібершахраї вже давно усвідомили, що обійти системи захисту компанії набагато складніше
        ніж «підібрати ключ» до кожної конкретної людини й зіграти на її емоціях та почуттях так,
        щоб забувши про обережність вона здійснила
        необхідні їм дії.<br>
        <br>
        Тому, для успішного протистояння сучасним кіберзагрозам кожен з нас має бути обізнаним в питаннях
        інформаційної безпеки.<br>
        <br>
        Пропонуємо вам пройти обов'язкове тестування, яке допоможе інтегрувати кібергігієну в повсякденні звички!<br><br>
        {% endblocktranslate %}
    </div>
    <div class="col-auto justify-content-center mx-auto">
        <img src="{% static 'images/index_icon.PNG' %}" width="300">
    </div>
    <div style="text-align:center" class="justify-content-center mx-auto my-0">
        <a class="shadow btn btn-outline-warning ms-2 btn-sm" aria-current="page" href="{% url 'exams' %}">{% trans "Перейти до тестування" %}</a>
    </div>
</div>
{% endblock %}